/* afair it's for PopOS plugin */
.panel-workspace-indicator {
  padding: 0 6px;
}

.panel-workspace-indicator-box {
  padding: 2px 4px;
}

.panel-workspace-indicator-box .workspace {
  width: 40px;
}

.panel-workspace-indicator,
.panel-workspace-indicator-box .workspace {
  /*border: 1px solid #cccccc;*/
  /*background-color: rgba(200, 200, 200, 0.5);*/
}

.panel-workspace-indicator-box .workspace {
  /*background-color: rgba(200, 200, 200, 0.3);*/
  border-left-width: 0;
}

.panel-workspace-indicator-box .workspace:first-child {
  border-left-width: 1px;
}

.workspace-indicator-active {
  background-color: rgba(20, 200, 200, 0.5);
}
